@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* colors */
/* media queries */
/* fonts */
/* Dimensions */
/* HTML reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none; }

::-moz-selection {
  background: #958459;
  color: white;
  text-shadow: none; }

::selection {
  background: #958459;
  color: white;
  text-shadow: none; }

strong {
  font-weight: bold; }

.grid3 {
  width: 32.6%;
  float: left;
  margin: 0.2%; }

.grid6 {
  width: 65.6%;
  float: left;
  margin: 0.2%; }

.grid5 {
  width: 50%;
  float: left; }

.gridbox {
  text-align: center; }
  .gridbox:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }
  .gridbox .content {
    display: inline-block;
    vertical-align: middle; }

.top_subnav {
  position: relative;
  top: 0;
  width: 100%;
  background: #333333;
  font-size: 13px;
  text-transform: uppercase;
  color: #999999; }
  .top_subnav .container {
    background: #333333; }
    .top_subnav .container ul {
      padding: 10px 0;
      text-align: center; }
      .top_subnav .container ul li {
        display: inline;
        margin: 0 15px; }

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 120px;
  z-index: 99; }
  nav a.logo {
    position: absolute;
    top: 16px;
    left: 0;
    background: url(../img/logo.png) no-repeat;
    width: 328px;
    height: 92px;
    background-size: 328px 92px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      nav a.logo {
        top: 20px;
        width: 200px;
        height: 30px;
        background-size: 200px 30px;
        left: 20px; } }
  nav ul.main_nav {
    float: right;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 120px; }
    nav ul.main_nav li {
      display: inline-block;
      margin: 0 20px;
      padding-right: 4px; }
      nav ul.main_nav li:after {
        content: "";
        color: #958459; }
      nav ul.main_nav li a {
        color: #484848;
        text-decoration: none;
        font-size: 18px;
        font-weight: 300;
        padding-right: 45px;
        background: url(../img/carrot.png) no-repeat right center;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        transition: color 0.5s; }
        nav ul.main_nav li a:hover {
          color: #958459; }
      @media only screen and (min-width: 320px) and (max-width: 768px) {
        nav ul.main_nav li {
          display: block;
          width: 100%;
          background: rgba(0, 0, 0, 0.8);
          text-align: center;
          margin: 0;
          border-bottom: 1px solid #958459; }
          nav ul.main_nav li:after {
            content: " "; }
          nav ul.main_nav li a {
            padding: 0;
            font-size: 18px;
            font-weight: 700; } }
      nav ul.main_nav li a.search {
        width: 267px;
        height: 42px;
        background: url(../img/search.png) no-repeat bottom right;
        display: inline-block; }
    nav ul.main_nav li.last a {
      padding-right: 0; }
    nav ul.main_nav li.last:after {
      content: " "; }
  nav ul.nav-active {
    display: block; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    nav .nav_wrap {
      width: 100%; } }

.nav_wrap {
  text-align: center;
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease; }
  .nav_wrap .navlinks {
    position: relative;
    width: auto;
    display: inline-block;
    margin: 0 auto 20px;
    text-align: left;
    overflow: hidden;
    font-weight: 300;
    color: #949496; }
    .nav_wrap .navlinks section {
      float: left;
      margin: 10px 25px; }
      .nav_wrap .navlinks section h5 {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 36px;
        font-weight: 300;
        color: #333333; }
      .nav_wrap .navlinks section h6 {
        color: #333333;
        font-weight: 300;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 32px; }
      .nav_wrap .navlinks section a {
        color: #949496; }

.collapsed {
  max-height: 0px;
  margin: 0; }

.overlay_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5); }

.overlay_init {
  opacity: 1;
  z-index: 998;
  cursor: url(../img/close_cursor.png), auto; }

.branch_locator {
  position: absolute;
  width: 420px;
  height: 440px;
  padding: 0px;
  background: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border: #6d6e70 solid 1px;
  margin-top: -500px;
  z-index: 999;
  left: 35%;
  -webkit-transition: margin 0.5s ease;
  -moz-transition: margin 0.5s ease;
  transition: margin 0.5s ease; }
  .branch_locator:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    top: -15px;
    left: 50%; }
  .branch_locator:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #6d6e70 transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -15px;
    top: -16px;
    left: 50%; }
  .branch_locator .header_wrap {
    height: 120px;
    margin: 0;
    padding: 0; }
    .branch_locator .header_wrap h3 {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      text-align: center;
      padding: 20px 0;
      color: #b59d61; }
    .branch_locator .header_wrap input {
      width: 230px;
      height: 35px;
      padding-right: 40px;
      padding-left: 10px;
      border: 1px solid #b7b7b7;
      background: url(../img/search_icon.png) no-repeat right center;
      outline: 0;
      margin-left: 60px;
      margin-bottom: 20px; }
  .branch_locator .location_wrap {
    height: 320px;
    overflow-y: scroll; }
    .branch_locator .location_wrap .location {
      padding: 20px;
      border-bottom: 1px solid #949496; }
      .branch_locator .location_wrap .location section {
        float: left; }
      .branch_locator .location_wrap .location .selector_btn {
        float: right;
        background: #6d6e70;
        padding: 10px 20px; }

.branch_drop {
  margin-top: 20px; }

* {
  margin: 0px; }

html, body {
  height: 100%;
  width: 100%;
  color: #484848;
  font-family: "Lato", sans-serif;
  background: white; }

.clearfix {
  zoom: 1;
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

p {
  line-height: 1.3em;
  font-weight: 300; }

a {
  color: white;
  text-decoration: none; }

h1, h2, h3, h4 {
  font-family: "Vollkorn", serif; }

h1 {
  font-size: 60px;
  text-transform: uppercase; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    h1 {
      font-size: 30px; } }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px;
  text-transform: uppercase; }

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  background: white; }

.no-backgroundsize a.logo {
  position: absolute;
  top: 16px;
  left: 0;
  background: url(../img/cudenver_logo_ie.png) no-repeat;
  width: 300px;
  height: 45px; }

.nav-mobile {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 15px;
  background: black url(../img/nav.svg) no-repeat center center;
  height: 65px;
  width: 40px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .nav-mobile {
      display: block; } }

.no-svg .nav-mobile {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 15px;
  background: black url(../img/nav.png) no-repeat center center;
  height: 65px;
  width: 40px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .no-svg .nav-mobile {
      display: block; } }

.nav-mobile-open {
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0; }

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333333;
  height: 300px;
  bottom: -260px;
  z-index: 2;
  -webkit-transition: bottom 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: bottom 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.35s cubic-bezier(0.23, 1, 0.32, 1); }
  footer .toggle_expand {
    background: url(../img/carrot3.png);
    background-position: left top;
    width: 27px;
    height: 18px;
    margin: 10px auto 0;
    display: block;
    cursor: pointer; }
    footer .toggle_expand:hover {
      background-position: right top; }
  footer .close_btn {
    background-position: left bottom; }
    footer .close_btn:hover {
      background-position: right bottom; }
  footer .container {
    background: #333333;
    margin-top: 30px; }
    footer .container section {
      width: 20%;
      float: left; }
      footer .container section h3 {
        margin-bottom: 10px; }
      footer .container section li {
        color: black;
        font-size: 13px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    footer {
      position: relative;
      bottom: 0;
      height: auto; }
      footer .toggle_expand {
        display: none; }
      footer .container {
        padding: 30px 0;
        margin: 0 auto; }
        footer .container section {
          width: 50%;
          margin: 10px 0; } }
  footer p {
    font-size: 12px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      footer p {
        position: relative;
        margin: 50px 20px;
        width: auto; } }

.open_ft {
  bottom: 0; }

.st_sharethis_custom {
  background: transparent;
  width: 27px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 18px;
  z-index: 99; }

.home, .container {
  position: relative; }
  .home .login, .container .login {
    text-align: center;
    background: #cab588;
    height: 354px; }
    .home .login:before, .container .login:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; }
    .home .login .content, .container .login .content {
      display: inline-block;
      vertical-align: middle;
      width: 300px; }
      .home .login .content .clearfix, .container .login .content .clearfix {
        margin-bottom: 30px; }
      .home .login .content h4, .container .login .content h4 {
        font-size: 34px;
        color: white;
        font-weight: 300px;
        font-style: italic; }
    .home .login input, .container .login input {
      width: 80%;
      margin: 15px 0 25px;
      background-color: white;
      border: 0px solid;
      height: 25px; }
    .home .login .login_button, .container .login .login_button {
      width: 45%;
      background: #b59d61;
      padding: 10px 15px;
      margin-bottom: 20px;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      .home .login .login_button:hover, .container .login .login_button:hover {
        background: #5e3a16; }
    .home .login .sub_link, .container .login .sub_link {
      font-size: 12px; }
    .home .login textarea:focus, .home .login input:focus, .container .login textarea:focus, .container .login input:focus {
      outline: 0; }

.home {
  background: white; }
  .home .photo_cta {
    background: url(../img/main_cta_home.jpg) no-repeat center center;
    background-size: cover;
    height: 354px;
    color: white; }
    .home .photo_cta .content {
      text-align: center;
      margin: 0 40px;
      padding: 20px 0; }
      .home .photo_cta .content h1 {
        font-size: 26px;
        font-style: italic;
        border-top: 1px solid white;
        padding-top: 20px; }
      .home .photo_cta .content p {
        border-bottom: 1px solid white;
        padding-bottom: 20px; }
      .home .photo_cta .content a {
        background: #e5d7bc;
        color: #333333;
        padding: 10px 15px;
        position: relative;
        top: 35px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s; }
        .home .photo_cta .content a:hover {
          border: 3px solid white; }
  .home .cta1 {
    background: #9b814e; }
  .home .cta2 {
    background: #7f612d; }
  .home .cta3 {
    background: #5e3a16; }
  .home .cta1, .home .cta2, .home .cta3 {
    height: 300px;
    text-align: center;
    color: #e5d7bc; }
    .home .cta1 h2, .home .cta2 h2, .home .cta3 h2 {
      font-style: italic; }
    .home .cta1 p, .home .cta2 p, .home .cta3 p {
      padding: 0 30px;
      font-weight: 300; }
  .home .secondary_cta {
    min-height: 275px;
    background-size: cover; }
    .home .secondary_cta .content {
      bottom: 0;
      width: 90%;
      background: rgba(0, 0, 0, 0.5); }
      .home .secondary_cta .content h5 {
        color: #e5d7bc; }
  .home .news {
    background: url(../img/community_news_bg.jpg) no-repeat center center; }
  .home .tools {
    background: url(../img/tools_bg.jpg) no-repeat center center; }

.product .grid3 {
  width: 33.33333%;
  margin: 0; }
.product .grid6 {
  width: 66.66666%;
  margin: 0; }
.product .login {
  height: 240px; }
.product .checking_header {
  background: #5f3a16;
  height: 240px;
  color: white; }
  .product .checking_header .content {
    color: #f2d7b1;
    margin: 0 40px; }
  .product .checking_header h1 {
    font-size: 34px;
    line-height: 46px;
    text-transform: none;
    margin: 0 auto 25px;
    font-style: italic; }
    .product .checking_header h1 img {
      vertical-align: bottom; }

.products_wrap section {
  height: 110px;
  max-height: 110px;
  border-bottom: 5px solid #58595b;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease; }
  .products_wrap section .product_title {
    width: 23%;
    float: left;
    border-right: 1px solid #949496; }
    .products_wrap section .product_title h4 {
      font-size: 24px;
      line-height: 110px;
      text-transform: uppercase;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      color: #333333; }
      .products_wrap section .product_title h4 span {
        display: inline-block;
        background: url(../img/product_expand_icon.png) no-repeat left top;
        width: 45px;
        height: 28px; }
  .products_wrap section .feature_wrap {
    width: 76.9%;
    max-width: 900px;
    float: left;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .products_wrap section .feature_wrap .product_feature {
      width: 19.9%;
      text-align: center;
      border-right: 1px solid #949496;
      padding: 15px 0;
      float: left; }
    .products_wrap section .feature_wrap .last {
      border: none;
      color: #b59d61; }
.products_wrap .closed_detail h4 span {
  background-position: left bottom; }
.products_wrap .closed_detail .feature_wrap {
  width: 0%;
  overflow: hidden;
  opacity: 0; }
